.about {
    width: 50%;
    overflow: none;
    padding-left: 50px;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
}

.about-card {
    margin-top: 10px;
    background: none;
    padding-left: 80px;
    color: $text-color
}

.showcase-about-heading {
    margin-left: 8px;
}

.nobull {
    list-style-type: none;
    .contact-li{
        font-size: 28px;
        margin: 10px;
            a {
                text-decoration: none;
                color: $text-color;
            }
            a:hover {
                color: $main-color;
            }
    }
}


// should match the profile pic row on the resume scss page
.contact-img-row {
    background-image: url("./img/capacitors-chip-circuit-2588757.jpg");
            background-size: 100%;
            background-position-y: 25%;
            background-repeat: no-repeat;
            height: 14rem;
            width: 100%;
            margin: 0;
            border-top: 4px solid $main-color;
            border-bottom: 4px solid $main-color;
}

img .contact-icon {
    width: 20%;
    height: auto;
}

.powered-by {
    margin: 8px;
    border-radius: 1.5em;
}

@media only screen and (max-width: 1200px) {
    .nobull {
        .contact-li{
            font-size: 20px;
        }
    }
    .contact-img-row {
                height: 12rem;
    }
}