$main-color: #ffa500;
$secondary-color: gray;
$accent-color: black;
$background-color: rgb(238, 236, 236);
$animated-box-color: linear-gradient(to bottom, #0A0A0A 0%, #1B1B1B 45%, #242424 65%, #1B1B1B 75%, #0A0A0A 100%);