$main-color: #ffa500;
$secondary-color: rgb(201, 197, 197);
$accent-color: black;
$background-color: #6b6969;
$text-color: #212529;
$animated-box-color: linear-gradient(to bottom, #0A0A0A 0%, #1B1B1B 45%, #242424 65%, #1B1B1B 75%, #0A0A0A 100%);