.icon-1 {
    background-image: url(./img/SiteIcon6.jpg);
}
.icon-2 {
    background-image: url(./img/SiteIcon-fv.jpg);
}
.icon-3 {
    background-image: url(./img/SiteIcon-gb.jpg);
}
.icon-4 {
    background-image: url(./img/SiteIcon4.jpg);
}
.icon-5 {
    background-image: url(./img/SiteIcon3.jpg);
}
.icon-6 {
    background-image: url(./img/SiteIcon2.jpg);
}

.portfolio-container{
    overflow: none;
    padding: 0;
    max-width: 100%;
    margin-top: 200px;
    .portfolio-card {
        width: 40%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: $main-color 4px solid;
        background: none;
        border-radius: 2em;
        margin: 0 auto;
        .img-row {
            justify-content: center;
            a {
                text-decoration: none;
                text-align: center;
            }
            .site-icon {
                position: relative;
                width: 210px;
                height: 210px;
                border: $main-color 4px solid;
                border-radius: 2em;
                background-size: 210px 210px;
                margin: 5px;
                .label-block {
                    position: relative;
                    top: 150px; 
                    height: 40px;
                    width: 202px;
                    background: $main-color;
                    text-decoration: none;
                    color: $background-color;
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    font-size: 22px;
                    padding-top: 3px;
                }
            }
            .site-icon:hover {
               border: rgb(0, 0, 0) 4px solid;
               opacity: .7;
               .label-block {
                background: rgb(0, 0, 0);
                opacity: .7;
            }
        }
    }
    }
}


    .portfolio-heading {
        text-align: center; 
    }


    @media only screen and (max-width: 1700px) {
        .portfolio-card {
            min-width: 45%;
      }
    }

    @media only screen and (max-width: 1500px) {
        .portfolio-card {
            min-width: 50%;
      }
    }

    
    @media only screen and (max-width: 1400px) {
        .portfolio-card {
            min-width: 55%;
      }
    }

    @media only screen and (max-width: 1250px) {
        .portfolio-card {
            min-width: 60%;
      }
    }

    @media only screen and (max-width: 1150px) {
        .portfolio-card {
            min-width: 65%;
      }
    }

    @media only screen and (max-width: 1050px) {
        .portfolio-card {
            min-width: 70%;
      }
    }