.resume {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
        .profile-row {
            background-image: url("./img/black-and-white-electronics-orange.jpg");
            background-size: 100%;
            background-position-y: 25%;
            background-repeat: no-repeat;
            height: 14rem;
            width: 100%;
            margin: 0;
            border-top: 4px solid $main-color;
            border-bottom: 4px solid $main-color;
            #profile-pic {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                height: 13.4rem;
                width: 13.4rem;
                border: 4px solid $main-color;
                border-radius: 50%;
                position: relative;
                left: 25vh;
                top: .1rem;
            }
        }
        .resume-text {
            background: $secondary-color;
            h3 {
                color: $text-color;
            }
            .resume-blurb {
                color: $text-color;
            }
            #skills {
                justify-content: center;
                .skills-section {
                    text-align: left;
                    .skills-list {
                    font-size: 1.7rem;
                    margin-left: 10px;
                    text-align: left;
                    }
                }
            }
            .resume-qualification {
                text-align: left;
                margin-left: 1rem;
                margin-bottom: 1.2rem;
            }
            .jobs {
                text-align: left;
                justify-content: left;
                .skills-list {
                    font-size: 1.3rem;
                }
            }
        }

}


@media only screen and (max-width: 1350px) {
    .resume {
        .resume-text {
            .jobs {
                .skills-list {
                    font-size: 1rem;
                }
            }
            #skills {
            .skills-section {
                .skills-list {
                    font-size: 1.2rem;
                    margin-left: 8px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 1200px) {
    .resume {
            .profile-row {
                height: 12rem;
                #profile-pic {
                    height: 11.6rem;
                    width: 11.6rem;
                    left: 20vh;
                }
            }
    }
}