.resume {
  width: 50%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 30px;
}

.resume .profile-row {
  background-image: url("./img/black-and-white-electronics-orange.jpg");
  background-size: 100%;
  background-position-y: 25%;
  background-repeat: no-repeat;
  height: 14rem;
  width: 100%;
  margin: 0;
  border-top: 4px solid #ffa500;
  border-bottom: 4px solid #ffa500;
}

.resume .profile-row #profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 13.4rem;
  width: 13.4rem;
  border: 4px solid #ffa500;
  border-radius: 50%;
  position: relative;
  left: 25vh;
  top: .1rem;
}

.resume .resume-text {
  background: #c9c5c5;
}

.resume .resume-text h3 {
  color: #212529;
}

.resume .resume-text .resume-blurb {
  color: #212529;
}

.resume .resume-text #skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .resume-text #skills .skills-section {
  text-align: left;
}

.resume .resume-text #skills .skills-section .skills-list {
  font-size: 1.7rem;
  margin-left: 10px;
  text-align: left;
}

.resume .resume-text .resume-qualification {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
}

.resume .resume-text .jobs {
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.resume .resume-text .jobs .skills-list {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1350px) {
  .resume .resume-text .jobs .skills-list {
    font-size: 1rem;
  }
  .resume .resume-text #skills .skills-section .skills-list {
    font-size: 1.2rem;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 1200px) {
  .resume .profile-row {
    height: 12rem;
  }
  .resume .profile-row #profile-pic {
    height: 11.6rem;
    width: 11.6rem;
    left: 20vh;
  }
}

.about {
  width: 50%;
  overflow: none;
  padding-left: 50px;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
}

.about-card {
  margin-top: 10px;
  background: none;
  padding-left: 80px;
  color: #212529;
}

.showcase-about-heading {
  margin-left: 8px;
}

.nobull {
  list-style-type: none;
}

.nobull .contact-li {
  font-size: 28px;
  margin: 10px;
}

.nobull .contact-li a {
  text-decoration: none;
  color: #212529;
}

.nobull .contact-li a:hover {
  color: #ffa500;
}

.contact-img-row {
  background-image: url("./img/capacitors-chip-circuit-2588757.jpg");
  background-size: 100%;
  background-position-y: 25%;
  background-repeat: no-repeat;
  height: 14rem;
  width: 100%;
  margin: 0;
  border-top: 4px solid #ffa500;
  border-bottom: 4px solid #ffa500;
}

img .contact-icon {
  width: 20%;
  height: auto;
}

.powered-by {
  margin: 8px;
  border-radius: 1.5em;
}

@media only screen and (max-width: 1200px) {
  .nobull .contact-li {
    font-size: 20px;
  }
  .contact-img-row {
    height: 12rem;
  }
}

header {
  position: absolute;
  background-color: inherit;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
}

header .header-content {
  position: relative;
  top: 0;
  z-index: 4;
  color: white;
}

header .header-content .main-title {
  font-size: 3rem;
  margin-top: 2rem;
  padding-right: 9px;
  border: 3px solid #ffa500;
}

header .header-content .main-title .highlighter {
  padding: .5rem;
  margin: 0;
  color: #ffa500;
}

header .header-content .nav-item .nav-link {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

header .header-content .nav-item .nav-link:hover {
  color: grey;
}

header .header-content .nav-item .active {
  color: #ffa500;
  text-decoration: underline;
}

@media only screen and (max-width: 1350px) {
  header .header-content .main-title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  header .header-content .main-title .highlighter {
    padding: .3rem;
  }
  header .header-content .nav-item .nav-link {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1200px) {
  header .header-content .nav-item .nav-link {
    font-size: 1.4rem;
  }
}

.icon-1 {
  background-image: url(./img/SiteIcon6.jpg);
}

.icon-2 {
  background-image: url(./img/SiteIcon-fv.jpg);
}

.icon-3 {
  background-image: url(./img/SiteIcon-gb.jpg);
}

.icon-4 {
  background-image: url(./img/SiteIcon4.jpg);
}

.icon-5 {
  background-image: url(./img/SiteIcon3.jpg);
}

.icon-6 {
  background-image: url(./img/SiteIcon2.jpg);
}

.portfolio-container {
  overflow: none;
  padding: 0;
  max-width: 100%;
  margin-top: 200px;
}

.portfolio-container .portfolio-card {
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: #ffa500 4px solid;
  background: none;
  border-radius: 2em;
  margin: 0 auto;
}

.portfolio-container .portfolio-card .img-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-container .portfolio-card .img-row a {
  text-decoration: none;
  text-align: center;
}

.portfolio-container .portfolio-card .img-row .site-icon {
  position: relative;
  width: 210px;
  height: 210px;
  border: #ffa500 4px solid;
  border-radius: 2em;
  background-size: 210px 210px;
  margin: 5px;
}

.portfolio-container .portfolio-card .img-row .site-icon .label-block {
  position: relative;
  top: 150px;
  height: 40px;
  width: 202px;
  background: #ffa500;
  text-decoration: none;
  color: #6b6969;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 3px;
}

.portfolio-container .portfolio-card .img-row .site-icon:hover {
  border: black 4px solid;
  opacity: .7;
}

.portfolio-container .portfolio-card .img-row .site-icon:hover .label-block {
  background: black;
  opacity: .7;
}

.portfolio-heading {
  text-align: center;
}

@media only screen and (max-width: 1700px) {
  .portfolio-card {
    min-width: 45%;
  }
}

@media only screen and (max-width: 1500px) {
  .portfolio-card {
    min-width: 50%;
  }
}

@media only screen and (max-width: 1400px) {
  .portfolio-card {
    min-width: 55%;
  }
}

@media only screen and (max-width: 1250px) {
  .portfolio-card {
    min-width: 60%;
  }
}

@media only screen and (max-width: 1150px) {
  .portfolio-card {
    min-width: 65%;
  }
}

@media only screen and (max-width: 1050px) {
  .portfolio-card {
    min-width: 70%;
  }
}

.mobile-wrapper {
  overflow: hidden;
  min-height: 95%;
}

.mob-footer {
  padding-top: 3px;
  min-height: 5%;
  overflow: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#0A0A0A), color-stop(45%, #1B1B1B), color-stop(65%, #242424), color-stop(75%, #1B1B1B), to(#0A0A0A));
  background: linear-gradient(to bottom, #0A0A0A 0%, #1B1B1B 45%, #242424 65%, #1B1B1B 75%, #0A0A0A 100%);
  text-align: center;
}

.mob-footer h5 {
  color: white;
  margin-top: 2px;
}

.navbar-mobile {
  background: -webkit-gradient(linear, left top, left bottom, from(#0A0A0A), color-stop(45%, #1B1B1B), color-stop(65%, #242424), color-stop(75%, #1B1B1B), to(#0A0A0A));
  background: linear-gradient(to bottom, #0A0A0A 0%, #1B1B1B 45%, #242424 65%, #1B1B1B 75%, #0A0A0A 100%);
}

.navbar-toggler-icon {
  color: #ffa500;
}

.navbar-nav .nav-item .nav-link:visited {
  color: grey;
}

.navbar-nav .nav-item .nav-link {
  color: white !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-nav .nav-item .act-nav {
  color: #ffa500 !important;
  text-decoration: underline;
  -webkit-text-decoration-color: orange !important;
          text-decoration-color: orange !important;
}

.main-title {
  font-size: 2rem;
  margin-top: 2px;
  padding-right: 2px;
  color: white;
  border: 3px solid #ffa500;
}

.highlighter {
  padding: .5rem;
  margin: 0;
  padding: 0;
  color: #ffa500;
}

.navbar-burger {
  width: 33px;
  height: auto;
}

.mobile-heading {
  margin-top: 25px;
  margin-left: 6px;
}

.mob-prof-col {
  text-align: center;
  background-image: url("./img/black-and-white-electronics-orange.jpg");
  height: 200px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  border-top: 3px solid #ffa500;
  border-bottom: 3px solid #ffa500;
}

.mob-prof-col .profile-mobile {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 2px solid #ffa500;
  margin-top: 6px;
}

#mob-skills {
  background: #c9c5c5;
  margin-bottom: 5px;
}

#mob-skills .resume-blurb {
  margin-left: 4px;
  margin-right: 2px;
  margin-bottom: 8px;
}

#mob-skills .resume-qualification {
  margin-left: 18px;
}

.jobs .skills-list {
  font-size: 14px;
  margin-right: 2px;
}

.mob-skill-row {
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .profile-mobile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #ffa500;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 500px) {
  .skills-section .skills-list {
    font-size: 20px;
  }
  .jobs .skills-list {
    font-size: 20px;
  }
}

.contact-img-mobile {
  text-align: center;
  background-image: url("./img/capacitors-chip-circuit-2588757.jpg");
  height: 200px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  border-top: 3px solid #ffa500;
  border-bottom: 3px solid #ffa500;
}

.mobile-about-heading {
  margin-top: 25px;
  margin-left: 0;
}

.mobile-subheading {
  margin-left: 24px;
}

.mobile-power {
  margin-left: 24px;
}

@media only screen and (min-width: 500px) {
  .mobile-about-heading {
    font-size: 30px;
  }
}

.mobile-portfolio-heading {
  margin-left: 10px;
  margin-top: 25px;
}

.port-card {
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.port-card .port-box {
  margin: 0 auto;
}

.port-card .port-box .port-box-col {
  margin: 0;
}

.port-card .port-box .port-box-col a {
  text-decoration: none;
  text-align: center;
}

.port-card .port-box .port-box-col a .port-mob-img {
  position: relative;
  width: 150px;
  height: 150px;
  border: #ffa500 4px solid;
  border-radius: 2em;
  background-size: 150px 150px;
  margin: 5px;
}

.port-card .port-box .port-box-col a .port-mob-img .pmi-label {
  position: relative;
  top: 90px;
  height: 40px;
  width: 142px;
  background: #ffa500;
  text-decoration: none;
  color: #6b6969;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 3px;
}

.port-card .port-box .port-box-col a .pmi1 {
  background-image: url("./img/SiteIcon6.jpg");
}

.port-card .port-box .port-box-col a .pmi2 {
  background-image: url("./img/SiteIcon-fv.jpg");
}

.port-card .port-box .port-box-col a .pmi3 {
  background-image: url("./img/SiteIcon-gb.jpg");
}

.port-card .port-box .port-box-col a .pmi4 {
  background-image: url("./img/SiteIcon-pdold.jpg");
}

.port-card .port-box .port-box-col a .pmi5 {
  background-image: url("./img/SiteIcon4.jpg");
}

.port-card .port-box .port-box-col a .pmi6 {
  background-image: url("./img/SiteIcon2.jpg");
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #6b6969;
  margin: 0;
}

.animated-block {
  height: 100vh;
  width: 50%;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#0A0A0A), color-stop(45%, #1B1B1B), color-stop(65%, #242424), color-stop(75%, #1B1B1B), to(#0A0A0A));
  background: linear-gradient(to bottom, #0A0A0A 0%, #1B1B1B 45%, #242424 65%, #1B1B1B 75%, #0A0A0A 100%);
}

.animated-block #secondary-nav {
  color: #eeecec;
  position: relative;
  top: 40vh;
}

.animated-block #secondary-nav .secondary-nav-item {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  margin-left: 1.3rem;
  cursor: pointer;
}

.animated-block #secondary-nav .secondary-nav-item:hover {
  color: grey;
  font-size: 4.5rem;
}

.animated-block #secondary-nav .secondary-active {
  font-size: 4.5rem;
  text-decoration: underline;
  color: #ffa500;
}

.showcase {
  position: absolute;
  overflow: hidden;
  top: 13vh;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.showcase .color-highlight {
  color: #ffa500;
}

.showcase .showcase-heading {
  font-size: 3.3rem;
  margin-bottom: .5rem;
  margin-left: 20px;
}

.showcase .resume-blurb {
  font-size: 1.1rem;
  margin-top: .5rem;
  margin-bottom: .7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.showcase .about {
  width: 50%;
}

.page-wrapper {
  overflow: hidden;
}

.color-highlight {
  color: #ffa500;
}

p {
  font-size: 16px;
}

@media only screen and (max-width: 1430px) {
  .showcase .showcase-heading {
    font-size: 2.8rem;
    margin-bottom: .5rem;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .animated-block #secondary-nav {
    top: 35vh;
  }
  .animated-block #secondary-nav .secondary-nav-item {
    font-size: 3.5rem;
  }
  .animated-block #secondary-nav .secondary-nav-item:hover {
    font-size: 3.8rem;
  }
  .animated-block #secondary-nav .secondary-active {
    font-size: 3.8rem;
  }
  .showcase .showcase-heading {
    font-size: 2rem;
    margin-bottom: .5rem;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .page-wrapper {
    display: none;
  }
  .animated-block {
    display: none;
  }
  .portfolio-container {
    display: none;
  }
}

@media only screen and (min-width: 999px) {
  .mobile-wrapper {
    display: none;
  }
  .mob-footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */